body {
    background-color: rgba(5,0,5,.93);
}
h1, h2, h3, h4, h5, h6 { color: gold; }

.util {
    &.accessible-text {
        position: absolute;
        left: -100vw;
        width: 1px;
        height: 1px;
    }
}

.header {
    display: flex;
    .header-text {
        flex-grow: 1;
    }
    .search-container {
        padding: 1rem 0;

        .search-input-container {
            display: flex;
            .search-input {
                margin-right: 1rem;
            }
        }
    }
}

.search-result {
    margin: 1rem 0;
}

.movie-list .movie-list-item a {
    display: flex;
    flex-direction: row;
    .metadata-wrapper {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        .title {
            font-size: 2rem;
        }
        .movie-poster {
            display: inline-block;
            margin-right: 2rem;
            height: 9rem;
            img {
                height: 100%;
            }
        }
    }
}

.search-result {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 4px;
    .title, .year {
        margin-right: 15px;
    }
    > button { margin-right: 15px; }
}
