body {
    background-color: rgba(5,0,5,.93);
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 { color: gold; }


.util {
    &.accessible-text {
        position: absolute;
        left: -100vw;
        width: 1px;
        height: 1px;
    }
}

h1.header-text {
    font-family: 'Contrail One', sans-serif;
    font-size: 7rem;
}

.header {
    display: flex;

    @media (min-width: 768px) {
        justify-content: flex-end;
    }
    .header-text {
        flex-grow: 1;
        @media (min-width: 768px) {
            display: none;
        }
    }
    .search-container {
        padding: 1rem 0;

        .search-input-container {
            display: flex;
            .search-input {
                margin-right: 1rem;
            }
        }
    }
}

.search-result {
    margin: 1rem 0;
}

.movie-list .movie-list-item {
    display: flex;
    a.metadata-wrapper, a.metadata-wrapper:visited, a.metadata-wrapper:hover {
        color: #485fde;
        font-family: 'Contrail One', cursive;
    }
    .metadata-wrapper {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .title {
            font-size: 2.5rem;
        }
        .movie-poster {
            display: inline-block;
            margin-right: 2rem;
            height: 9rem;
            img {
                height: 100%;
            }
        }
    }
    .action-wrapper {
        text-align: right;

        .remove.button {
            margin-top: 1rem;
        }
    }
}

.search-result {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    .title, .year {
        font-family: 'Contrail One', sans-serif;
        font-size: 2rem;
    }
    .button-wrapper {
        text-align: right;
        > button:first-of-type {
            margin-right: 1rem;
        }
    }
}
